# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\xszbe\OneDrive - Debreceni Egyetem\4_felev\Szoftverfejlesztes\labor\stream-playground-homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
